.primary-container {
    width: 100%;
    margin: 0px auto;
    background-color: rgb(0,0,0);
    padding: 0px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
}

.title-container {
    width: 100%;
    margin: 0px auto;
    background-color: rgb(0, 0, 0);
    padding: 0px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.fullwidth {
    margin: 2%;
    width: 96%;
    padding: 2%;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}
 
.halfwidth {
    margin: 2%;
    width: 46%;
    padding: 2%;
    box-sizing: border-box;
    border: 1px solid rgb(255,255,255);
    color: rgb(255, 255, 255);
}

.halfwidth:hover {
    cursor: pointer;
}

.halfwidth-title {
    margin: 2%;
    width: 46%;
    padding: 2%;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

footer {
    margin: 2%;
    width: 96%;
    padding: 2%;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'josefin_sansregular';
    font-size: 1.25em;
}

.title {
    font-family: 'abril_fatfaceregular';
    font-size: 3em;
    text-align: center;
}

.subtitle {
    font-family: 'abril_fatfaceregular';
    font-size: 2em;
    text-align: center;
}

.subtitle:hover {
    color: rgb(70, 199, 47);
}

.subtitle-text {
    font-family: 'josefin_sansregular';
    font-size: 1.5em;
    text-align: center;
}

.displaycontent {
    display: none;
    font-family: 'josefin_sansregular';
    font-size: 1.25em;
    text-align: left; 
}

.icon {
    stroke: rgb(70, 199, 47);
    /* fill: rgb(70, 199, 47); */
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(70, 199, 47);
}

a:visited {
    color: rgb(70, 199, 47);
}

a:hover {
    text-decoration: underline;
}

@media all and (min-width: 750px) and (max-width: 1000px) {

    .halfwidth {
        margin: 2%;
        width: 71%;
        padding: 2%;
    }

}

@media all and (max-width: 750px) {

    .halfwidth {
        margin: 3%;
        width: 94%;
        padding: 3%;
    }

}

@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('../fonts/abrilfatface-regular-webfont.eot');
    src: url('../fonts/abrilfatface-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
         url('../fonts/abrilfatface-regular-webfont.woff') format('woff'),
         url('../fonts/abrilfatface-regular-webfont.ttf') format('truetype'),
         url('../fonts/abrilfatface-regular-webfont.svg#abril_fatfaceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sansbold';
    src: url('../fonts/josefinsans-bold-webfont.eot');
    src: url('../fonts/josefinsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-bold-webfont.woff') format('woff'),
         url('../fonts/josefinsans-bold-webfont.ttf') format('truetype'),
         url('../fonts/josefinsans-bold-webfont.svg#josefin_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sansbold_italic';
    src: url('../fonts/josefinsans-bolditalic-webfont.eot');
    src: url('../fonts/josefinsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinsans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-bolditalic-webfont.woff') format('woff'),
         url('../fonts/josefinsans-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/josefinsans-bolditalic-webfont.svg#josefin_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sansregular';
    src: url('../fonts/josefinsans-italic-webfont.eot');
    src: url('../fonts/josefinsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinsans-italic-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-italic-webfont.woff') format('woff'),
         url('../fonts/josefinsans-italic-webfont.ttf') format('truetype'),
         url('../fonts/josefinsans-italic-webfont.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sanslight';
    src: url('../fonts/josefinsans-light-webfont.eot');
    src: url('../fonts/josefinsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinsans-light-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-light-webfont.woff') format('woff'),
         url('../fonts/josefinsans-light-webfont.ttf') format('truetype'),
         url('../fonts/josefinsans-light-webfont.svg#josefin_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sanslight_italic';
    src: url('../fonts/josefinsans-lightitalic-webfont.eot');
    src: url('../fonts/josefinsans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinsans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-lightitalic-webfont.woff') format('woff'),
         url('../fonts/josefinsans-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/josefinsans-lightitalic-webfont.svg#josefin_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sansregular';
    src: url('../fonts/josefinsans-regular-webfont.eot');
    src: url('../fonts/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-regular-webfont.woff') format('woff'),
         url('../fonts/josefinsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/josefinsans-regular-webfont.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sanssemibold';
    src: url('../fonts/josefinsans-semibold-webfont.eot');
    src: url('../fonts/josefinsans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinsans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-semibold-webfont.woff') format('woff'),
         url('../fonts/josefinsans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/josefinsans-semibold-webfont.svg#josefin_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sanssemibold';
    src: url('../fonts/josefinsans-semibolditalic-webfont.eot');
    src: url('../fonts/josefinsans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinsans-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/josefinsans-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/josefinsans-semibolditalic-webfont.svg#josefin_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sansthin';
    src: url('../fonts/josefinsans-thin-webfont.eot');
    src: url('../fonts/josefinsans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinsans-thin-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-thin-webfont.woff') format('woff'),
         url('../fonts/josefinsans-thin-webfont.ttf') format('truetype'),
         url('../fonts/josefinsans-thin-webfont.svg#josefin_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sansthin';
    src: url('../fonts/josefinsans-thinitalic-webfont.eot');
    src: url('../fonts/josefinsans-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinsans-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-thinitalic-webfont.woff') format('woff'),
         url('../fonts/josefinsans-thinitalic-webfont.ttf') format('truetype'),
         url('../fonts/josefinsans-thinitalic-webfont.svg#josefin_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}